body {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

/* Header Style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 5px 240px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
}

/* Banner Styles */


.banner-content {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.banner-des,
.feature-des,
.ex-des,
.service-des,.fact-des,.sponsor-des {
    color: #727272;
}

.banner-title {
    font-size: 4rem;
}

.banner-img {
    margin-top: 1.5rem;
    max-width: 100%;
}



/* Feature Section Styles */
main, footer {
    width: 1200px;
    margin: 0 auto;
}

.feature-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

}

.feature-content {
    padding-left: 4rem;
}

.feature-title {
    font-size: 3.2rem;
}


.s1 {
    color: #727272;
    font-weight: 500;
}

.s2 {
    color: #131313;
    font-weight: 700;
}

.s3 {
    color: #FF900E;
    font-weight: 700;

}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}



/* Experience Section Styles */
.experience {
    display: flex;
    margin-top: 100px;
    gap: 2rem;
}

.ex-title {
    font-size: 3rem;
    font-weight: 700;
}

.service-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.service {
    padding: 10px 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.5rem;
}
.experience-content{
    
}

#experience-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 150px;
    position: relative;
    bottom: 70px;
    margin-left: -30px;
}

/* Fact Styles */
.fact-title{
    font-size: 3rem;
    font-weight: 700;
}
.fact-des{
    max-width: 50%;
}
.f-c-h2{
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
}
.fact-card{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px #FF900E solid;
    width: 10rem;
}
.fact-card img {
    margin-bottom: 0; 
}

.fact-card h3,
.fact-card h2 {
    font-size: 1rem;
    margin-top: 0; 
}

.images-content{
    display: flex;
    justify-content: space-evenly;
}




/* Sponsor Styles */

.sponsor{
    margin-top: 4rem;
    text-align: center;
}
.sponsor-img {
    padding: 5px 25px;
    opacity: 0.5;
    filter: grayscale(100%);
    transition: opacity 0.5s, filter 0.5s;
}

.sponsor-img:hover {
    opacity: 1;
    filter: none; 
}


/* Footer Styles */

.footer-des{
    margin-top: 3rem;
    text-align: center;
    padding: 15px 60px;
    background: #FFF4E7;
}

/* Mobile Device */
@media screen and (max-width:576px) {
    main {
        width: auto;
    }

    header {
        padding: 5px;
    }

    nav ul {
        display: none;
    }

    .feature-container {
        align-items: center;
        flex-direction: column;
    }

    .team-img {
        grid-template-columns: 1fr;
    }

    .team {
        max-width: 100%;
    }

    .feature-content {
        padding-left: 1rem;

    }
    .experience{
        flex-direction: column;
    }

    .architect-img{
        max-width: 100%;
    }
    .fact-des{
        max-width: 100%;
    }
    .images-content{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    footer{
        width: 100%;
    }

    .footer-des{
        text-align: center;
        padding: 15px 30px;
    }
 
    

}
/* Table Device */

@media screen and (min-width:576px) and (max-width:960px) {

    header {
        padding: 5px;
    }

    nav ul {
        display: none;
    }

    .feature-container {
        align-items: center;
        flex-direction: column;
    }
    .experience{
        flex-direction: column;
    }

    .architect-img{
        max-width: 100%;
    }
    .fact-des{
        max-width: 100%;
    }
    .images-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

